@font-face {
	font-family: 'IBMPlexMono';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/IBMPlexMono-Medium.ttf) format('truetype');
}
code {
	font-family: IBMPlexMono;
	padding: 0px 3px;
	background-color: var(--background-highlight);
	border: 2px solid var(--background-highlight);
	border-radius: 4px;
	font-size: 11pt;
}
.blogEntry {
	background-color: var(--background-primary);
	border: 3px solid var(--background-secondary);
	border-radius: 8px;
	width: 100%;
	min-height: 5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	text-align: left;
	padding: 0 1em;
}
.blogEntry h5 {
	color: var(--text-secondary);
}
.blogEntryLink:link, .blogEntryLink:visited {
	color: var(--text-primary);
	text-decoration: inherit;
}
.blogPost {
	text-align: left;
}
.blog-italics {
	font-style: italic;
}
.blog-bold {
	font-weight: 740;
}
.blog-image-container {
	text-align: center;
}
.blogPost p {
	text-indent: .5em;
	font-size: 13pt;
}
.blogPost ul {
	font-size: 13pt;
}