@font-face {
	font-family: 'Rubik-standard';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/Rubik400.ttf) format('truetype');
}
@font-face {
	font-family: 'Rubik-variable';
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
	src: url(/Rubik-VariableFont_wght.ttf) format('truetype');
}
@font-face {
	font-family: 'Rubik-variable';
	font-style: italic;
	font-weight: 300 900;
	font-display: swap;
	src: url(/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
}
:root {
	--brand-orange: #FF8C00;
	--brand-green: #32CD32;
	--background-primary: #FFFFFF;
	--background-secondary: #F3F3F3;
	--background-highlight: #E9E9E9;
	--text-primary: #000000;
	--text-link: #0000FF;
	--text-visited: #800080;
	--text-secondary: #595959;
	--button-primary: #000000;
	--button-secondary: #A3A3A3;
	--button-tertiary: #DEDEDE;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-primary: #000000;
		--background-secondary: #1A1D1F;
		--background-highlight: #303335;
		--text-primary: #FFFFFF;
		--text-link: #7EBBFC;
		--text-visited: #87579D;
		--text-secondary: #C0C0C0;
		--button-primary: #FFFFFF;
		--button-secondary: #6B7780;
		--button-tertiary: #303335;
	}
}
#sidebarToggle {
	display: none;
}
@media (max-width: 800px) {
	#sidebar {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
	}
	#sidebar.show {
		display: block;
		min-width: 40%;
		max-width: 75%;
	}
	#sidebarToggle {
		display: block;
		position: fixed;
		z-index: 99;
		font-size: 32px;
		padding: 8px 16px;
		cursor: pointer;
	}
}
a:link {
	color: var(--text-link);
}
a:visited {
	color: var(--text-visited);
}
body {
	font-family: Rubik-standard;
	background-color: var(--background-secondary);
	color: var(--text-primary);
	display: flex;
	margin: 0px;
}
@supports (font-variation-settings: "wght" 430) {
	body {
		font-family: Rubik-variable;
		font-weight: 430;
	}
}
.bg-tile {
	position: fixed;
	inset: 0;
	background: var(--background-primary);
	mask-image: url("bg_tile.webp");
	mask-mode: luminance;
	mask-repeat: repeat;
	mask-size: 40%;
	z-index: -100;
}
#logoBox {
	width: 40%;
	margin-left: auto;
	margin-right: auto
}
#logoBox img {
	max-width: 100%;
}
#main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 48px;
	text-align: center;
	align-items: center;
}
#sidebar {
	background-color: var(--background-primary);
	border-right: 4px solid var(--background-secondary);
	min-width: 15%;
	min-height: 100vh;
	overflow-y: hidden;
}
.sidebarEntry {
	width: 100%;
	height: 3.5em;
	display: flex;
	align-items: center;
	font-size: 20px;
	border-bottom: 3px solid var(--background-highlight);
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}
#bodyContainer {
	flex: 1;
	margin: 8px;
}