#personHeader {
	display: flex;
	min-height: 120px;
}
#personImg {
	height: 120px;
	aspect-ratio: 1;
}
#personImg img {
	max-width: 100%;
	max-height: 100%;
}
#personRef {
	flex: 1;
	font-weight: 600;
	text-align: left;
	padding-left: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#personName {
	font-size: 30pt;
	word-wrap: anywhere;
}
#personId {
	font-size: 24px;
	color: var(--text-secondary);
}
#personLink {
	height: 120px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
#personLink img {
	height: 75%;
}
@media (max-width: 800px) {
	#personHeader {
		height: 12.5vh;
	}
}
#personEventSelector {
	background-color: var(--background-primary);
	border: 3px solid var(--background-highlight);
	border-radius: 8px;
	max-width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 10px 15px 10px 15px;
	gap: 20px;
	margin-top: 30px;
	margin-bottom: 16px;
}
.selectorEvent {
	height: 40px;
	width: 40px;
	position: relative;
	background-color: var(--button-secondary);
	mask-size: contain;
	cursor: pointer;
}
.selEvSelected {
	background-color: var(--button-primary);
}
#cumulativeDiv {
	font-size: 20px;
	margin-bottom: 8px;
}
#cumulativeDiv label {
	vertical-align: middle;
	padding-top: 2px;
}
#cumulativeInput {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 2.5rem;
	height: 1.5rem;
	border-radius: 0.75rem;
	background-color: var(--button-tertiary);
	cursor: pointer;
	vertical-align: middle;
}
#cumulativeInput::after {
	position: relative;
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: var(--button-secondary);
	top: .25rem;
	left: .25rem;
	transition: left .2s ease-in-out, background-color .2s linear;
}
#cumulativeInput:checked {
	background-color: var(--button-secondary);
}
#cumulativeInput:checked::after {
	background-color: #FFFFFF; /* Same for both schemes */
	left: 1.25rem;
}
#timeGraph {
	background-color: var(--background-primary);
	border: 3px solid var(--background-highlight);
	border-radius: 8px;
	margin-bottom: 32px;
	padding: 24px 24px 16px 16px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
}
#tgAxisY {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	flex-direction: row;
}
#tgAxisYLabel {
	font-size: 20px;
	writing-mode: vertical-lr;
	text-orientation: sideways;
	transform: rotate(180deg);
}
#tgAxisYTicks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	margin-left: 6px;
	align-self: end;
}
.tgAxisYTick {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	align-items: center;
}
.tgAxisYTick div {
	margin-left: 6px;
	height: 6px;
	width: 20px;
	background-color: var(--background-highlight);
}
.tgAxisYTick span {
	line-height: 0;
}
#tgAxisX {
	grid-column: 2;
	grid-row: 2;
}
#tgAxisXTicks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}
.tgAxisXTick {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	justify-items: center;
}
.tgAxisXTick div {
	margin-bottom: 4px;
	height: 18px;
	width: 6px;
	background-color: var(--background-highlight);
}
.tgAxisXTick span {
	width: 0;
	display: flex;
	justify-content: center;
}
#tgChartArea {
	grid-column: 2;
	grid-row: 1;
	border-left: 6px solid var(--background-highlight);
	border-bottom: 6px solid var(--background-highlight);
}
#tgChartTooltip {
	position: fixed;
	font-size: 16px;
	background-color: var(--background-primary);
	border: 3px solid var(--background-secondary);
	border-radius: 8px;
	padding: 8px;
	visibility: hidden;
	transform: translate(-100%, -100%);
}
#tgChartArea:hover #tgChartTooltip {
	visibility: visible;
}

#stats {
	display: flex;
	width: 100%;
	gap: 24px;
	margin-bottom: 24px;
}

#stats > div {
	background-color: var(--background-primary);
	border: 3px solid var(--background-highlight);
	border-radius: 8px;
	flex: 1;
	padding: 8px;
}

#stats > div > :first-child {
	font-size: 24px;
	margin-bottom: 8px;
}

#stats > div > :last-child {
	font-size: 20px;
}


.selEv222 {
	mask: url("/cubing-icons/event/222.svg");
	-webkit-mask: url("/cubing-icons/event/222.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv333 {
	mask: url("/cubing-icons/event/333.svg");
	-webkit-mask: url("/cubing-icons/event/333.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv333bf {
	mask: url("/cubing-icons/event/333bf.svg");
	-webkit-mask: url("/cubing-icons/event/333bf.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv333fm {
	mask: url("/cubing-icons/event/333fm.svg");
	-webkit-mask: url("/cubing-icons/event/333fm.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv333ft {
	mask: url("/cubing-icons/event/333ft.svg");
	-webkit-mask: url("/cubing-icons/event/333ft.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv333mbf {
	mask: url("/cubing-icons/event/333mbf.svg");
	-webkit-mask: url("/cubing-icons/event/333mbf.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv333mbo {
	mask: url("/cubing-icons/event/333mbo.svg");
	-webkit-mask: url("/cubing-icons/event/333mbo.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv333oh {
	mask: url("/cubing-icons/event/333oh.svg");
	-webkit-mask: url("/cubing-icons/event/333oh.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv444 {
	mask: url("/cubing-icons/event/444.svg");
	-webkit-mask: url("/cubing-icons/event/444.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv444bf {
	mask: url("/cubing-icons/event/444bf.svg");
	-webkit-mask: url("/cubing-icons/event/444bf.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv555 {
	mask: url("/cubing-icons/event/555.svg");
	-webkit-mask: url("/cubing-icons/event/555.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv555bf {
	mask: url("/cubing-icons/event/555bf.svg");
	-webkit-mask: url("/cubing-icons/event/555bf.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv666 {
	mask: url("/cubing-icons/event/666.svg");
	-webkit-mask: url("/cubing-icons/event/666.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEv777 {
	mask: url("/cubing-icons/event/777.svg");
	-webkit-mask: url("/cubing-icons/event/777.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEvClock {
	mask: url("/cubing-icons/event/clock.svg");
	-webkit-mask: url("/cubing-icons/event/clock.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEvMagic {
	mask: url("/cubing-icons/event/magic.svg");
	-webkit-mask: url("/cubing-icons/event/magic.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEvMinx {
	mask: url("/cubing-icons/event/minx.svg");
	-webkit-mask: url("/cubing-icons/event/minx.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEvMmagic {
	mask: url("/cubing-icons/event/mmagic.svg");
	-webkit-mask: url("/cubing-icons/event/mmagic.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEvPyram {
	mask: url("/cubing-icons/event/pyram.svg");
	-webkit-mask: url("/cubing-icons/event/pyram.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEvSkewb {
	mask: url("/cubing-icons/event/skewb.svg");
	-webkit-mask: url("/cubing-icons/event/skewb.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}
.selEvSq1 {
	mask: url("/cubing-icons/event/sq1.svg");
	-webkit-mask: url("/cubing-icons/event/sq1.svg");
	mask-size: contain;
	-webkit-mask-size: contain;
}